# Rename this file to .env and supply the values listed below
# Also, make sure they are available to the build tool (e.g. Netlify)
#
# WARNING: Variables prexifed with GATSBY_ will be made available to client-side code,
# be careful not to expose sensitive data

# Enable Google Analytics
GOOGLE_ANALYTICS_ID=<insertValue>

# Enables Disqus comments below blog posts
GATSBY_DISQUS_NAME=<insertValue>
